# Dependencias
node_modules/
 
# Entornos y secretos
.env
.env.*

# Archivos de cookies/registro de pruebas
cookies.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
/.idea/